body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subway-img{
  height:100vh;
}
.sil{
  transform: translateX(-40%)
}

.sir{
  transform: translateX(-45%)
}

.subway-img-wrapper{
  overflow: hidden;
  position:fixed;
}

.app-wrapper{
  height:100vh;
}

.app{
  width:100%;
  display: block;
}

.skibidi-img{
  display: block;
}